<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Change this to the full path where the test app is located -->
    <add key="projectPath" value="cd /Users/danielmassarano/Projects/MVCTestApp/MVCTestApp/" />
    <add key="projectName" value="dotnet run MVCTestApp.csproj" />
</configuration>
