<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <add key="nnn" value="Crawler that displays how valid links in a website are 
                            \n\n
                            Usage: dotnet run 404Crawler.csproj 
                            [-h || --help] || [-s || --source &lt;url&gt;]
                            \n\n
                            Point the crawler at the homepage of a site and it'll do the rest." />
    <add key="help" value="dotnet run MVCTestApp.csproj" />
</configuration>
